@model THUVIEN_CNPMNC_TH.Models.PhieuMuonTra

@{
    ViewBag.Title = "TraSach";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Content/css/MuonTra/EditMuonTra.css" rel="stylesheet" />

<div class="container">
    <h1>DUYỆT ĐƠN ĐĂNG KÝ MƯỢN SÁCH </h1>
    @using (Html.BeginForm("DuyetPhieu", "MuonTra", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaPhieu)

        <label for="MaSach">Mã sách:</label><br>
        @Html.DropDownListFor(model => model.MaSach, ViewBag.TenSach as SelectList, "-- Chọn sách --", new { id = "MaSach" })<br>

        <label for="MaThuThu">Mã thủ thư:</label><br>
        @Html.DropDownListFor(model => model.MaThuThu, ViewBag.TenThuThu as SelectList, "-- Chọn thủ thư --", new { id = "MaThuThu" })<br>

        <label for="MaDocGia">Mã độc giả:</label><br>
        @Html.DropDownListFor(model => model.MaDocGia, ViewBag.TenDocGia as SelectList, "-- Chọn độc giả --", new { id = "MaDocGia" })<br>

        <label for="NgayMuon">Ngày mượn:</label><br>
        @Html.TextBoxFor(model => model.NgayMuon, new { id = "NgayMuon" })<br>

        <label for="NgayTraDuKien">Ngày trả dự kiến:</label><br>
        @Html.TextBoxFor(model => model.NgayTraDuKien, new { id = "NgayTraDuKien" })<br>

        @*<label for="TrangThai">Trạng thái:</label><br>
        @Html.DropDownListFor(model => model.TrangThai, new SelectList(new List<string> { "Đang Mượn", "Đã Trả" }), "-- Chọn trạng thái --", new { id = "TrangThai" })<br>*@

        <input type="submit" value="Lưu" class="btn btn-default" />

    }

</div>

